.PARINT{
    background-color: blue;
    width:100%;
    height:100vh;
    align-items: center;
    flex: content;
    justify-content: center;
    align-items: center;
    display: flex;
     border-radius:2px;
    
}
.child{
    border-radius: 32px;
    background-color: rgb(21, 223, 85);
    height:80vh;
    width:30%;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius:circle; */


}
.circle{
    border-radius:50%;
    width: 50%;
    height: 38%;
    background-color: blue;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
.imag{
  flex-direction: column;
}
.socails{
background: fixed;
}